@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
}

body {
  background-color: #212121;
  font-family: "Outfit";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}
header .container {
  max-width: 1400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}
header .container .logo {
  max-width: 31%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .logo img {
  height: 77%;
  cursor: pointer;
}
header .container .menu {
  min-width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
header .container .menu .header__list {
  min-width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1em;
  font-weight: 400;
  padding-right: 10%;
  padding-left: 10%;
}
header .container .menu .header__list a {
  color: white;
}
header .container .menu .header__list .x {
  color: #0ff;
}

.home {
  margin-top: 5vh;
  width: 100%;
  height: 90vh;
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  max-height: 730px;
}
.home .hero-wrapper .inf {
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5%;
  flex-direction: column;
  color: whitesmoke;
}
.home .hero-wrapper .inf p {
  font-size: 1.2em;
  margin-bottom: 7px;
}
.home .hero-wrapper .inf .anim-items {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.home .hero-wrapper .inf h1 {
  font-weight: 700;
  font-size: 3.5em;
  margin-bottom: 7px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.home .hero-wrapper .inf h3 {
  font-size: 1.9em;
  color: #0fb;
  margin-bottom: 7px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.home .hero-wrapper .inf .hire__me {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 35px;
  width: 187px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0fb;
  border-radius: 3em;
  color: black;
  font-size: 1em;
  padding-top: 5px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: 0 0.6rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.6rem 1.4rem rgba(0, 0, 0, 0.25);
}
.home .hero-wrapper .inf .hire__me a {
  color: black;
}
.home .hero-wrapper .inf .active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.home .hero-wrapper .inf .hire__me:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(0, 255, 187, 0.719);
}
.home .hero-wrapper .pht {
  width: 50%;
}
.home .hero-wrapper .pht img {
  margin: 0 auto;
  width: 90%;
}
.home .hero-wrapper .pht .im {
  -webkit-transform: translate(30%, 0px);
          transform: translate(30%, 0px);
  opacity: 0;
}
.home .hero-wrapper .pht .active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.dw__cv {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 35px;
  width: 187px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0fb;
  border-radius: 3em;
  color: black;
  font-size: 0.77em;
  padding-top: 5px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-shadow: 0 0.6rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.6rem 1.4rem rgba(0, 0, 0, 0.25);
}

main {
  padding-top: 5%;
  width: 100%;
  background: #262626;
}
main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
}
main .title p {
  font-size: 1.2em;
  color: #0fb;
  font-weight: 300;
}
main .title hr {
  margin-top: 12px;
  border-radius: 2px;
}
main .about__me {
  max-width: 100%;
  min-height: 40vh;
}
main .about__me .title {
  margin-bottom: 3vh;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
}
main .about__me .active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
main .about__me .inform__about__me {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 1.4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .about__me .inform__about__me p {
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
}
main .about__me .inform__about__me h2 {
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
}
main .about__me .inform__about__me .dw__cv {
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
}
main .about__me .inform__about__me .active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
main .skills {
  width: 100%;
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .skills .skills__wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  padding: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .skills .skills__wrapper .skill {
  -webkit-box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.25);
  margin: 21px;
  max-width: 300px;
  max-height: 52px;
  border: #64ffda solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: #64ffda;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5em;
  -webkit-transform: translate(0, 77%);
          transform: translate(0, 77%);
  opacity: 0;
}
main .skills .skills__wrapper .active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transform: 0.7s;
          transform: 0.7s;
}
main .skills .skills__wrapper .skill:hover {
  background-color: #0fb;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .portfolio {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .portfolio .works__wrapper {
  max-width: 1400px;
  min-height: 57vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .portfolio .works__wrapper .item1 {
  margin-left: 5%;
  margin-top: 5%;
  max-width: 400px;
  max-height: 300px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
}
main .portfolio .works__wrapper .active {
  opacity: 1;
  -webkit-transform: 0.7s;
          transform: 0.7s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
main .portfolio .works__wrapper .description {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  margin-top: -300px;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .portfolio .works__wrapper .description h1 {
  color: white;
  margin-bottom: 15%;
}
main #i1 {
  background-image: url(/assets/img/pr/Screenshot_3.png);
  background-size: 105%;
}
main #i2 {
  background-image: url(/assets/img/pr/timer.png);
  background-size: 105%;
}
main #i3 {
  background-image: url(/assets/img/pr/todo.png);
  background-size: 105%;
}
main #i4 {
  background-image: url("/assets/img/pr/PngItem_5132686 (1).png");
  background-size: 81%;
  background-repeat: no-repeat;
}
main .item1:hover .description {
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
main .Contact__me {
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 7vh;
}
main .Contact__me .contact__wrapper {
  max-width: 1400px;
  min-height: 77vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .Contact__me .contact__wrapper .contacts {
  margin-top: -10%;
  min-width: 40%;
  min-height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 3%;
}
main .Contact__me .contact__wrapper .contacts p {
  font-size: 1.2em;
  color: whitesmoke;
}
main .Contact__me .contact__wrapper .contacts .icon {
  width: 50px;
  height: 50px;
  background-color: #0fb;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5%;
}
main .Contact__me .contact__wrapper .contacts .icon img {
  width: 27%;
}
main .Contact__me .contact__wrapper .contacts .location {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .Contact__me .contact__wrapper .contacts .mail {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .Contact__me .contact__wrapper .contacts .phone {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .Contact__me .contact__wrapper .contacts .phone p {
  font-size: 1em;
}
main .Contact__me .contact__wrapper .Contact__form {
  min-width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .Contact__me .contact__wrapper .Contact__form form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .Contact__me .contact__wrapper .Contact__form .name {
  border-radius: 30px;
  width: 80%;
  height: 50px;
  background-color: #262626;
  border: 1px solid #fcfcfc;
  font-size: 1em;
  padding-left: 30px;
  color: #fcfcfc;
}
main .Contact__me .contact__wrapper .Contact__form .x {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .Contact__me .contact__wrapper .Contact__form .x .mail {
  border-radius: 30px;
  min-width: 38%;
  height: 50px;
  background-color: #262626;
  border: 1px solid #fcfcfc;
  font-size: 1em;
  padding-left: 30px;
  color: #fcfcfc;
  margin-right: 4%;
}
main .Contact__me .contact__wrapper .Contact__form .x .number {
  border-radius: 30px;
  min-width: 38%;
  height: 50px;
  background-color: #262626;
  border: 1px solid #fcfcfc;
  font-size: 1em;
  padding-left: 30px;
  color: #fcfcfc;
}
main .Contact__me .contact__wrapper .Contact__form .msg {
  margin-top: 30px;
  border-radius: 25px;
  width: 80%;
  height: 250px;
  background-color: #262626;
  border: 1px solid #fcfcfc;
  font-size: 1em;
  padding: 30px;
  color: #fcfcfc;
  font-family: "Outfit";
}
main .Contact__me .contact__wrapper .sbm__btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 35px;
  width: 187px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0fb;
  border-radius: 3em;
  color: black;
  font-size: 1em;
  padding-top: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: -50%;
  margin-top: 5%;
  -webkit-box-shadow: 0 0.6rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.6rem 1.4rem rgba(0, 0, 0, 0.25);
}
main .Contact__me .contact__wrapper .sbm__btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(0, 255, 187, 0.719);
}

footer {
  width: 100%;
  max-height: 170px;
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

@media (min-width: 1500px) {
  .container {
    width: 1400px;
  }
  .container .logo {
    width: 30%;
  }

  .hero-wrapper {
    width: 1400px;
  }

  .skills__wrapper {
    width: 1200px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .skills__wrapper .skill {
    width: 300px;
    height: 52px;
  }

  .works__wrapper {
    height: 50vh;
    width: 1400px;
    margin: 20vh;
  }
  .works__wrapper .item1 {
    width: 400px;
    height: 300px;
  }

  .contact__wrapper {
    margin-top: -7vh;
    width: 1400px;
  }

  footer {
    height: 170px;
  }
}
@media (max-width: 1500px) {
  .container {
    width: 80%;
  }
  .container .logo {
    width: 30%;
  }

  .works__wrapper {
    width: 85%;
    margin: 20vh;
  }
  .works__wrapper .item1 {
    width: 350px;
    height: 250px;
  }

  .hero-wrapper {
    margin-top: 15vh;
    width: 85%;
  }

  .works__wrapper {
    width: 85%;
    margin: 20vh;
  }
  .contact__wrapper {
    margin-top: 7vh;
    width: 950px;
  }

  .skills {
    margin-top: 17vh;
  }

  footer {
    height: 130px;
  }

  .skills__wrapper {
    width: 900px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .skills__wrapper .skill {
    width: 200px;
    height: 41px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 80%;
  }
  .container .logo {
    width: 30%;
  }

  .works__wrapper {
    width: 85%;
    margin: 20vh;
  }
  .works__wrapper .item1 {
    width: 300px;
    height: 200px;
  }

  .hero-wrapper {
    margin-top: 15vh;
    width: 85%;
  }

  .works__wrapper {
    width: 85%;
    margin: 20vh;
  }
  .contact__wrapper {
    margin-top: 7vh;
    width: 870px;
  }

  .skills {
    margin-top: 17vh;
  }

  footer {
    height: 130px;
  }

  .skills__wrapper {
    width: 750px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .skills__wrapper .skill {
    width: 150px;
    height: 35px;
  }
  .skills__wrapper .skill p {
    font-size: 0.7em;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .container .menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .container .header__list {
    width: 100%;
  }
  .container .logo {
    width: 1px;
  }
  .container .logo img {
    display: none;
  }

  .x {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #0ff;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .x .mail {
    width: 80%;
    height: 50px;
    margin-left: 4%;
    margin-bottom: 14px;
  }
  .x .number {
    width: 80%;
    height: 50px;
    margin: 0;
  }

  .works__wrapper {
    width: 85%;
    margin: 20vh;
  }
  .works__wrapper .item1 {
    width: 300px;
    height: 200px;
  }

  .hero-wrapper {
    margin-top: 15vh;
    width: 90%;
  }
  .hero-wrapper .pht {
    display: none;
  }

  .works__wrapper {
    width: 85%;
    margin: 20vh;
  }
  .contact__wrapper {
    margin-top: 7vh;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact__wrapper .contacts {
    margin-top: 15vh;
    width: 100%;
  }

  .skills {
    margin-top: 7vh;
  }

  footer {
    height: 130px;
  }

  .skills__wrapper {
    width: 90%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .skills__wrapper .skill {
    width: 150px;
    height: 35px;
  }
  .skills__wrapper .skill p {
    font-size: 0.7em;
  }

  .about__me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .about__me .inform__about__me {
    width: 80%;
    margin-bottom: 7vh;
  }

  .sbm__btn {
    position: relative;
    left: 20%;
    margin-bottom: 15vh;
  }
}